.body-top {
  align-self: center;
  width: 50%;
}

.sel-comp{
  padding: 5%;
}
.body-bottom{

  padding: 5%;
}

.top-img{
  background-image: 'little-lemon\src\restaurant.jpg';
}

.res-font{
  color: yellow;
}
.subt-font{
  color: white;
}
.para-font{
  color: white;
}

.banner{
  background-color: #495E57;
  height: 50vh;
}

.banImg{
  border-radius: 10%;
}

.footer{
  background-color: #495E57;
  height: 50vh;
  padding-top: 50px;
}

ul > li{
  list-style-type: none;
}

li > a{
  text-decoration: none;
  color: white;
}

.book-mid{
  padding: 50px;
  text-align: center;
}

.name {
  padding-top: 25px;
}

@media only screen and (max-width: 600px){
  .banImg{
    width: 10px;
    padding-top: 50px;
  }
  .banner{
    height: 80vh;
  }
}

