.body-top {
  align-self: center;
  width: 50%;
}

.sel-comp{
  padding: 5%;
}
.body-bottom{

  padding: 5%;
}

.top-img{
  background-image: 'little-lemon\src\restaurant.jpg';
}

.banner-text{
  background-color: rgba(0, 0, 0, .5);
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  width: 50%;
}

.res-font{
  color: yellow;
  font-weight: bold;
  font-size: 4vw;
}
.subt-font{
  color: white;
  
}
.para-font{
  color: white;
  font-size: 2vw;
}

.banner{
  background-color: #495E57;
  height: 50vh;
}

.banImg{
  border-radius: 10%;
}

.footer{
  background-color: #495E57;
  height: 50vh;
  padding-top: 50px;
}

ul > li{
  list-style-type: none;
}

li > a{
  text-decoration: none;
  color: white;
}

.book-mid{
  padding: 50px;
  text-align: center;
}

.name {
  padding-top: 25px;
}

.about-sec{
  max-width: 50%;
}
.about-img{
  max-width: 50%;
}

@media only screen and (max-width: 768px){
  .res-font{
    color: yellow;
    font-weight: bold;
    font-size: 6vw;
  }
  .subt-font{
    color: white;
    
  }
  .para-font{
    color: white;
    font-size: 3.5vw;
  }
  .banner-text{
    width: 100%;
  }
  .about-sec{
    max-width: 100%;
  }
  .about-img{
    max-width: 100%;
  }
}

